<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="PhotoBoardDao">
	<!-- Mybatis가 컬럼값을 객체에 담을 때 컬럼 이름으로 setter를 찾아 호출한다. -->
<!-- <select id="findAll" resultType="com.eomcs.lms.domain.PhotoBoard"> select 
		photo_id, /* PhotoBoard의 setPhotoBoard_id(컬럼값)를 호출하여 컬럼값을 PhotoBoard객체에 담는다. */ conts, 
		/* PhotoBoard의 setConts(컬럼값) 호출 */ cdt, /* PhotoBoard의 setCdt(컬럼값) 호출 */ vw_cnt /* 
		PhotoBoard의 SetVw_cnt(컬럼값) 호출 */ from lms_photo order by photo_id desc </select> -->
<!-- 만약 컬럼에 별명이 있다면 setter를 호출할 때도 그 별명과 일치하는 setter를 호출한다. 컬럼의 이름과 setter의 
		이름이 다르다면 다음과 같이 setter 이름과 같은 이름으로 별명을 부여하라 그래야만 컬럼의 값을 객체에 제대로 담을 수 있다. -->
  <select id="findAll" resultType="com.eomcs.lms.domain.PhotoBoard">
    select
      photo_id no,
      titl title,
      cdt createdDate,
      vw_cnt viewCount,
      lesson_id lessonNo
    from 
      lms_photo 
    order by 
      photo_id desc
  </select>

  <select id="findBy" parameterType="int" resultType="com.eomcs.lms.domain.PhotoBoard">
    select
      photo_id no,
      titl title,
      cdt createdDate,
      vw_cnt viewCount,
      lesson_id lessonNo
    from 
      lms_photo 
    where 
      photo_id=#{value}
  </select>

  <insert id="insert" parameterType="com.eomcs.lms.domain.PhotoBoard" 
    useGeneratedKeys="true" 
    keyColumn="photo_id" 
    keyProperty="no">
    insert into 
      lms_photo(lesson_id,titl)
    values(#{lessonNo}, #{title})
  </insert>

  <update id="update" parameterType="com.eomcs.lms.domain.PhotoBoard">
    update
      lms_photo
    set
      titl=#{title}
    where
      photo_id=#{no}
  </update>

  <update id="increaseViewCount" parameterType="int">
    update lms_photo set
      vw_cnt = vw_cnt + 1
    where 
      photo_id=#{value}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from lms_photo 
    where photo_id=#{no}
  </delete>
  </mapper>